
.box0 {
  background-color: #f39c12;
  width: 350px;
  height: auto;
  color: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 20px #000000;
}

.inputField0 {
  padding: 10px;
  font-size: 125%;
  border-radius: 25px;
  background-color: #f1c40f;
  color: white;
  text-align: center;
  border: 2px solid #f1c40f;
}

.inputField0:focus {
  outline: none;
}

.errorMsg0 {
  text-align: center;
}

@media (max-width: 350px) {
  .box0 {
    width: 100%;
  }
  .inputField0 {
    width: 100%;
  }
}